<div id="header">
  Mallory Furniture</div>

<div id="body"><h4>Your Furniture is Old<br>Ours is older.<br>
<a href="/products/"><%= "Checkout our products" %></h4></a></body>
</div>


<img src="http://cdn.decoist.com/wp-content/uploads/2015/03/Exclusive-vintage-Loft-Kitchen-from-Marchi.jpg" id = "hm" alt="">
