<div id="header">
  Mallory Furniture</div>

<h2>Your Furniture is Old<br>Ours is older.<br></h2>
<a href="/products/" class="button"><%= "Checkout our products" %></div>

  <div class="image">
        <img src="http://entertheloft.com/wp-content/uploads/2015/01/EnterTheLoftII_PhotoCredits_AicoLind-2.jpg" alt="" />
  </div>
