<div id="header">
  Mallory Furniture</div>

<h2>Your Furniture is Old<br>Ours is older.<br>
<a href="/products/"><%= "Checkout our products" %></h2></div>

  <div class="image">

        <img src="http://entertheloft.com/wp-content/uploads/2015/01/EnterTheLoftII_PhotoCredits_AicoLind-2.jpg" alt="" />

        <h2>Your Furniture is Old<br />Ours is older.</h2>
        <a href="/products/"><%= "Checkout our products" %></h2>

  </div>
