<article class='home-content'>
  <h2>Your Furniture is Old</h2><h3>Ours is older.</h3>

  <a href="/products/" class='button'><h3>Checkout our products</h3></a>
</form>
</article>

  <div class='image'>
    <img src="http://entertheloft.com/wp-content/uploads/2015/01/EnterTheLoftII_PhotoCredits_AicoLind-2.jpg" alt="" />
  </div>
