<% categories.each do |category| %>
  <section class='all-categories'>
    <header>

        <a href="/categories/<%= category.id %>">
      <%= category.name %></a>
      <% end %>

    </header>
  </section>
