<% product.each do |product| %>
  <section>
    <header><h3><a href="/products/<%= product.id %>">
      <%= product.name %></a></h3></header>
    <p><%= "$#{product.discount}" %>
      <%= " - #{product.discount_amount}% off original price"%></p>
  </section>

<% end %>
